* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento', serif;
}

p, a, span {
    font-family: 'Quattrocento';
}

body {
   margin-bottom: 60px;
    
}

div.wrapper {
    width: 100%;

}

nav.layoutPageNavbar {
    background-color: #376092;
    border: none;
}

h2.navigationHeader {
    font-size: 4rem;
    float: left;
    margin-top: -10px;
    color: white !important;
}

a.logoContainer {
    float: left;
    
}
.mainNavbar {
    float: left;
}

.logo {
    fill: #fff;
    width: 42px;
    height: 42px;
   float: left;
    margin: -10px 10px 0 0;
}
/*.navAnchorLi {
    color: white !important;
    font-size: 2.2rem;
}*/

.navLiElement > a {
    color: white !important;
    font-size: 2.2rem;
}

.navLiElement > a:hover {
    color: #aaaaaa !important;
    
}

.navAnchorLi:hover {
    color: #aaaaaa !important;
    font-size: 2.2rem;
    background-color: black;
}

.footerContent {
    
}
.footerParagraph {
    color: white !important;
}

.footer {
      position: absolute;
      /*bottom: 0;*/
      width: 100%;
      height: 60px;
    background-color: #376092;
}



.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.navbar {
	margin-bottom: 0;
}

.light {
	background-color: #f1f1f1;
}
.dark {
	background-color: #e1e1e1;
}

section {
	padding: 60px 0;
}



