* {
    margin: 0;
}

body {
}

div.wrapper {
    width: 100%;

}

nav.layoutPageNavbar {
    background-color: #376092;
}

h2.navigationHeader {
    font-size: 2rem;
    float: left;
    margin-top: 0px;
    color: white !important;
}

a.logoContainer {
    float: left;
}
.mainNavbar {
    float: left;
}

.logo {
    fill: #fff;
    width: 42px;
    height: 42px;
    float: left;
    margin: -10px 10px 0 0;
}
.navAnchorLi {
    color: white !important;

}

.footerContent {
    background-color: #376092;
}
.footerParagraph {
    color: yellow !important;
}

