
    <div class="container">
        <div class="logoContainer navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar" aria-expanded="False" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo" alt="logo pic" src="Images/teamnordahl.svg" />
                <h2 class="navigationHeader">Team Nordahl</h2>
            </a>
        </div>
        <div id="mainNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="navAnchorLi" href="#">Home</a></li>
                <li><a class="navAnchorLi" href="#">Stable</a></li>
                <li><a class="navAnchorLi" href="#">About</a></li>
                <li><a class="navAnchorLi" href="#">Contact</a></li>
                <li><a class="navAnchorLi" href="#">News</a></li>
                <li><a class="navAnchorLi" href="#">Links</a></li>
            </ul>
        </div>
    </div>
