@model ProjectHorse.Models.HomePageHorsesModel
@{
 
}

<div>
     <ul >
         @foreach (var horse in Model.Horses)
         {
            <li style="display: inline-block;margin: 50px">horse</li>
         }
    </ul>
</div>