<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Team Nordahl</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/_LayoutPageStyle.css" rel="stylesheet"/>
</head>
<body>
    <nav class="layoutPageNavbar navbar navbar-inverse navbar-static-top">
        @Html.Partial("~/Views/Home/_Header.cshtml")
     </nav>
<div class="">
    @RenderBody()
</div>
<footer class="footer">   
    @Html.Partial("~/Views/Home/_Footer.cshtml") 
</footer>
</body>
</html>
